fastapi
uvicorn
celery
redis
boto3
python-dotenv

llama-index-core==0.14.12
llama-index-vector-stores-qdrant==0.10.1
llama-index-embeddings-ollama

qdrant-client==1.18.0

pymupdf
python-docx
pydantic
pydantic-settings
pandas
beautifulsoup4
pytest